body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected {
    background-color: #2267cb;
    color: white;
}

.rich-text-editor{
    padding: 0.25rem;
    margin: 0.5rem 0;
}
[contenteditable="true"] {
    border: 1px solid #9e9e9e;
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
    background-color: white;
}
[contenteditable="false"] {
    cursor: url("https://etesam.nyc3.digitaloceanspaces.com/Windows-XP-Newtab/cursors/auto.cur"), auto !important;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

.list-item-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.4rem 0;
}

.strikethrough {
    text-decoration: line-through;
}

.list-item {
    font-size: 13px;
    margin: 0.15rem 0;
    padding: 0.075rem 0;
    cursor: text;
}

button{
    min-width: 0 !important;
}


.editor-underline{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.editor-strikethrough{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.editor-text-underline-strikethrough {
    text-decoration: underline line-through;
    text-decoration-thickness: 2px;
}
.editor-paragraph{
    font-size: 1rem;
}


.editor-text-bold {
    font-weight: bold;
}

.editor-text-italic {
    font-style: italic;
}

.editor-code {
    background-color: rgb(232, 234, 234);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 0.5rem 1rem;
    line-height: 1.53;
    font-size: 13px;
    margin: 0.5rem 0;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;
}

.link-editor{
    position: absolute;
    z-index: 999;
    background-color: #f0f0f0;
    padding: 0.5rem;
    box-shadow: 10px 10px 65px 2px rgba(0, 0, 0, 0.39)
}
.link-input{
    font-size: 1.1em;
    font-family: "MS Sans Serif", serif
}
.link-edit{
    margin-left: 0.5rem;
}

.format{
    display: block;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
}
.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toolbar-item{
    width: 36px;
    padding: 0;
    margin: 0.25rem 0.2rem;
}


h1{
    font-weight: normal;
    font-size: 2.5em !important;
    margin: 0 0 0.5rem 0;
}

h2{
    font-weight: normal;
    font-size: 1.75em !important;
    margin: 0 0 0.5rem 0;
}

.editor-tokenComment {
    color: slategray;
}

.editor-tokenPunctuation {
    color: #999;
}

.editor-tokenProperty {
    color: #905;
}

.editor-tokenSelector {
    color: #690;
}

.editor-tokenOperator {
    color: #9a6e3a;
}

.editor-tokenAttr {
    color: #07a;
}

.editor-tokenVariable {
    color: #e90;
}

.editor-tokenFunction {
    color: #dd4a68;
}

.editor-list-ol {
    padding: 0;
    margin: 0 0 0 1.5rem;
}

.editor-list-ul {
    padding: 0;
    margin: 0 0 0 1.5rem;
    list-style: disc;
}

.editor-listitem {
    font-size: 0.9rem;
    padding: 0.15rem 0;
}

.editor-nested-listitem {
    list-style-type: none;
}
button.active{
    box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}
